node-red-flow.xml
[{"id":"89d9f032.56c6c8","type":"function","z":"9a719402.7b9338","name":"GET from Xero","func":"var Xero = global.get('xeromodule');\nvar xero = new Xero(\"HNVKXXANL1EEKSHU2GMQI6PM07U5DL\", \"VIYKILOPE28XY3WHIKSXSN2FNKYGW3\", msg.payload);\nxero.call('GET', '/Contacts', null, function(err, json) {\n        if (err) {\n            log.error(err);\nnode.send({payload:\"error\"})        }\n        node.send({payload:json});\n    }); \nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":517.5,"y":46,"wires":[["5e8330ad.574ff8"]]},{"id":"273595bb.d579e2","type":"inject","z":"9a719402.7b9338","name":"","topic":"","payload":"xero","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":43,"wires":[["ee836301.45fea8"]]},{"id":"5e8330ad.574ff8","type":"debug","z":"9a719402.7b9338","name":"","active":true,"console":"false","complete":"true","x":678.5,"y":47,"wires":[]},{"id":"ee836301.45fea8","type":"file in","z":"9a719402.7b9338","name":"Read RSA","filename":"/Users/benicube/Documents/aura/privatekey.pem","format":"utf8","chunk":false,"sendError":false,"x":270.5,"y":45,"wires":[["992ab0f3.3cdd2","89d9f032.56c6c8"]]},{"id":"992ab0f3.3cdd2","type":"debug","z":"9a719402.7b9338","name":"","active":false,"console":"false","complete":"false","x":456.5,"y":102,"wires":[]},{"id":"fca0f46.750d208","type":"file in","z":"9a719402.7b9338","name":"Read RSA","filename":"/Users/benicube/Documents/aura/privatekey.pem","format":"utf8","chunk":false,"sendError":false,"x":293,"y":174,"wires":[["81b25219.d1a608"]]},{"id":"81b25219.d1a608","type":"function","z":"9a719402.7b9338","name":"Connect to Xero","func":"var Xero = global.get('xeromodule');\nvar xero = new Xero(\"HNVKXXANL1EEKSHU2GMQI6PM07U5DL\", \"VIYKILOPE28XY3WHIKSXSN2FNKYGW3\", msg.payload);\nrequest = {\n    Name: 'Name1'\n};\nxero.call('POST', '/Contacts?SummarizeErrors=false', request, function(err, json) {\n        if (err) {\n            log.error(err);\nnode.send({payload:\"error\"})        }\n        node.log(\"Entered the result\")\n        node.send({payload:json});\n    }); \nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":540,"y":175,"wires":[["c6f49871.587f"]]},{"id":"c6f49871.587f","type":"debug","z":"9a719402.7b9338","name":"","active":true,"console":"false","complete":"true","x":701,"y":176,"wires":[]},{"id":"e8fbeb1a.e5703","type":"inject","z":"9a719402.7b9338","name":"","topic":"","payload":"xero","payloadType":"str","repeat":"","crontab":"","once":false,"x":108,"y":179,"wires":[["fca0f46.750d208"]]}]